body {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 10px;
    line-height: 1.1em;
    letter-spacing: .03em;
    margin: 0;
    background:
            url("./images/bg_01.jpg")
            no-repeat
            fixed
            center;
    background-size: cover;

    overflow: scroll;
}

.content-div {
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 15px;
    font-size: 2.5vh;
    line-height: 1.2em;
}

#heading {
    font-size: 50px;
    line-height: 1.2em;
}